
{% block body %}
<h1>Shopping Cart</h1>

    <table border="1">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    {% for item in cart.items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.total_price }}</td>
    </tr>
        {% endfor %}
    </table>

    Total: {{ cart.summary }}


{% endblock %}
<br><br>
<form> 
    <button type="submit" onClick="javascript:history.go(-1);">Continue Shopping</button>
</form>  
